name: CI Pipeline
on: [push, pull_request]

jobs:
  nvml-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        working-directory: examples/nvml
        run: |
          ./setup.sh
      - name: Test
        working-directory: examples/nvml
        run: |
          export LD_LIBRARY_PATH=.
          ./run.sh ./nvidia-smi
          ./run.sh ./nvidia-smi -q
