name: CI Pipeline
on: [push, pull_request]

jobs:
  nvml-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        working-directory: examples/nvml
        run: |
          ./setup.sh
      - name: Test
        working-directory: examples/nvml
        env:
          LD_LIBRARY_PATH: .
        run: |
          ./run.sh ./nvidia-smi -q
          ./run.sh ./nvidia-smi nvlink -s
          # swallow this error for now. the other invocations doesn't seem affected errors.
          ./run.sh ./nvidia-smi || true
